---
import Badge from '../components/Badge.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Welcome to Astro">
	<main>
		<section class="w-full lg:w-[740px] mx-auto py-44" >
			<img class="rounded-full w-12 h-12 mb-4" src="https://th.bing.com/th/id/OIP.NwyU_GQQIR3HOXNDpKq-6wHaHa?rs=1&pid=ImgDetMain" alt="jordan foto">
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-4">Soy Jordan <a href="https://www.linkedin.com/in/jordan-rheza-aragundi-2ba1bb235/" target="_blank" rel="noopener" class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></a></h1>
			<h2 class="text-xl opacity-80">1 año de experiencia. Desarrollador Fullstack. Soy de Guayaquil, Ecuador</h2>
		</section>
	</main>
</Layout>
