---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Diciembre 2024",
    title: "QA tester",
    company: "IRoute Solutions",
    description: "Pruebas de calidad de software, pruebas de usabilidad y pruebas de regresión.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experiencie) => (
      <li>
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
