---
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";
import Badge from "./Badge.astro";
import SocialPill from "./SocialPill.astro";


---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <img
        class="rounded-full shadow-lg size-16"
        src="/profile.webp"
        alt="Jordan Rheza"
      />
      <a
          href="https://www.linkedin.com/in/jordan-rheza-aragundi-2ba1bb235/"
          target="_blank"
          rel="noopener"
          class="flex items-center transition md:justify-center md:hover:scale-105"
          ><Badge>Disponible para trabajar</Badge>
        </a>
        
    </div>

      <h1 class="text-4xl font-bold tracking-tight text-gray-100 sm:text-5xl dark:text-white writing-animation">
        Hello, soy Jordan Rheza
      </h1>
      
        <p class="mt-6 text-xl text-gray-100 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
            Desarrollador FullStack. <strong>Me encanta aprender y crear cosas nuevas.</strong>
            Soy de Guayaquil, Ecuador. Actualmente estoy buscando nuevas oportunidades laborales.
        </p>
        

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/jordan-rheza-aragundi-2ba1bb235/"
        >
          <LinkedIn class="size-4" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/JordanRheza">
          <GitHub class="size-4" />
          GitHub
        </SocialPill>

        <SocialPill href="mailto:rhezajordan@gmail.com">
          <Mail class="size-4" />
          Contactame
        </SocialPill>
      </nav>
</div>

<style>
  @media (min-width: 1024px) {
    .writing-animation {
    overflow: hidden;
    width: 100%;
    border-right: 3px solid;
    white-space: nowrap;
    animation: typing 2.5s steps(19), cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

/* Nueva animación para hacer desaparecer el borde */
@keyframes remove-border {
    to {
        border-right: transparent;
    }
}

/* Aplica la animación después de que termine la de "typing" */
.writing-animation {
    animation: typing 3.5s steps(19), cursor .4s step-end infinite alternate, remove-border 0s 2.5s forwards;
}
  }





</style>